In [1]:
from langchain_community.utilities import SQLDatabase

In [2]:
db = SQLDatabase.from_uri("sqlite:///job.db")
print(db.dialect)

sqlite

In [3]:
print(db.get_usable_table_names())

['company', 'job', 'user']

In [6]:
db.run("SELECT title FROM job ;")

"[('Software Engineer',), ('Data Analyst',), ('Marketing Manager',)]"

In [3]:
import openai
import os

from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

openai.api_key=os.getenv("OPENAI_API_KEY")

In [4]:

from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)

In [5]:
from langchain_community.agent_toolkits import create_sql_agent
agent_executor = create_sql_agent(llm, db=db, agent_type='openai-tools' ,verbose= True )

In [7]:

response = agent_executor.invoke({"input": "Please add new company to company table named Frost Digi, located in Nepal and in Tech Industry?"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


company, job, user
Invoking: `sql_db_schema` with `{'table_names': 'company'}`



CREATE TABLE company (
	id INTEGER,
	name VARCHAR(255) NOT NULL,
	location VARCHAR(255),
	industry VARCHAR(255),
	PRIMARY KEY (id)
)

/*
3 rows from company table:
id	name	location	industry
1	Tech Solutions Inc.	New York	Technology
2	Green Energy Corp.	San Francisco	Renewable Energy
*/The `company` table has the following columns: `id`, `name`, `location`, and `industry`.

To add a new company named "Frost Digi" located in Nepal and in the Tech Industry, you can use the following SQL query:

```sql
INSERT INTO company (name, location, industry)
VALUES ('Frost Digi', 'Nepal', 'Tech Industry');
```

This query will add the new company "Frost Digi" to the `company` table with the specified details.

> Finished chain.

In [8]:

response = agent_executor.invoke({"input": "List all the company names."})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


company, job, user
Invoking: `sql_db_schema` with `{'table_names': 'company'}`



CREATE TABLE company (
	id INTEGER,
	name VARCHAR(255) NOT NULL,
	location VARCHAR(255),
	industry VARCHAR(255),
	PRIMARY KEY (id)
)

/*
3 rows from company table:
id	name	location	industry
1	Tech Solutions Inc.	New York	Technology
2	Green Energy Corp.	San Francisco	Renewable Energy
*/
Invoking: `sql_db_query` with `{'query': 'SELECT name FROM company'}`


[('Tech Solutions Inc.',), ('Green Energy Corp.',)]The company names in the database are "Tech Solutions Inc." and "Green Energy Corp.".

> Finished chain.

In [9]:
response

{'input': 'List all the company names.',
 'output': 'The company names in the database are "Tech Solutions Inc." and "Green Energy Corp.".'}